<section id="slide-apps" class="slide-apps" data-scroll>
    <img id="apps-line" src="assets/apps.png" alt="" class="apps">
    <div id="apps-val" class="val">
        <span>We will find the best apps for you.</span>
        <span>We will find the best apps for you.</span>
    </div>
    <img id="apps-discount" class="discounts" src="assets/discounts.jpg" alt="">
</section>
