<section id="slide-apps" class="slide-apps" data-scroll>
    {#<div class="apps parallax" data-orientation="right" data-velocity="1.2">#}
        {#<img src="assets/apps/1.jpg" alt="" class="app">#}
        {#<img src="assets/apps/2.jpg" alt="" class="app">#}
        {#<img src="assets/apps/3.jpg" alt="" class="app">#}
        {#<img src="assets/apps/4.jpg" alt="" class="app">#}
        {#<img src="assets/apps/5.jpg" alt="" class="app">#}
        {#<img src="assets/apps/6.jpg" alt="" class="app">#}
        {#<img src="assets/apps/7.png" alt="" class="app">#}
        {#<img src="assets/apps/8.jpg" alt="" class="app">#}
        {#<img src="assets/apps/9.jpg" alt="" class="app">#}
        {#<img src="assets/apps/10.jpg" alt="" class="app">#}
        {#<img src="assets/apps/11.jpg" alt="" class="app">#}
        {#<img src="assets/apps/12.jpg" alt="" class="app">#}
        {#<img src="assets/apps/13.jpg" alt="" class="app">#}
        {#<img src="assets/apps/14.jpg" alt="" class="app">#}
        {#<img src="assets/apps/15.jpg" alt="" class="app">#}
        {#<img src="assets/apps/16.jpg" alt="" class="app">#}
        {#<img src="assets/apps/17.jpg" alt="" class="app">#}
        {#<img src="assets/apps/18.jpg" alt="" class="app">#}
        {#<img src="assets/apps/19.jpg" alt="" class="app">#}
        {#<img src="assets/apps/20.jpg" alt="" class="app">#}
        {#<img src="assets/apps/21.jpg" alt="" class="app">#}
        {#<img src="assets/apps/22.jpg" alt="" class="app">#}
        {#<img src="assets/apps/23.jpg" alt="" class="app">#}
        {#<img src="assets/apps/24.jpg" alt="" class="app">#}
        {#<img src="assets/apps/25.jpg" alt="" class="app">#}
        {#<img src="assets/apps/26.jpg" alt="" class="app">#}
        {#<img src="assets/apps/27.jpg" alt="" class="app">#}
        {#<img src="assets/apps/28.png" alt="" class="app">#}
        {#<img src="assets/apps/29.jpg" alt="" class="app">#}
        {#<img src="assets/apps/30.jpg" alt="" class="app">#}
        {#<img src="assets/apps/31.jpg" alt="" class="app">#}
        {#<img src="assets/apps/32.jpg" alt="" class="app">#}
        {#<img src="assets/apps/33.jpg" alt="" class="app">#}
        {#<img src="assets/apps/34.jpg" alt="" class="app">#}
    {#</div>#}
    <img id="apps-line" data-src="assets/apps.png" src="" alt="" class="apps lazy">
    <div id="apps-val" class="val">
        <span>We will find the best apps for you.</span>
        <span>We will find the best apps for you.</span>
    </div>
    <img id="apps-discount" class="discounts lazy" data-src="assets/discounts.jpg" src="" alt="">
</section>
