<section class="slide slide-blockchain">
    <div class="container">
        <div class="content">
            <h2>Own Blockchain Platform</h2>
            <p><strong>BEMYWAYS</strong> is a series of brilliant innovative platforms. We aim to use Blockchain to the
                point where this technology brings the maximum benefit to the project. We realize that we will be one of
                a few projects that will demonstrate the blockchain effectiveness in the new generation mass services.
                We use powerful and thoughtful tokenomics. And therefore we use only proven and high-tech solutions. At
                the same time, we bring a fresh approach and new principles that will make the global project stable and
                tending to grow.</p>
        </div>
    </div>
</section>
<section class="slide slide-blockchain-video with-overlay">
    <video data-scroll autoplay muted loop playsinline poster="assets/backgrounds/blockchain-bg.jpg">
        <source src="https://s3.eu-central-1.amazonaws.com/bemyways-video/blockchain-bg.mp4" type="video/mp4">
        <img src="assets/backgrounds/blockchain-bg.jpg" alt="">
    </video>
</section>
