<section class="slide" id="slide-club">
    <div class="container">
        <div class="content">
            <h2>Travel Club <img class="club-icon lazy" data-src="assets/club.gif" src="" alt=""></h2>
            <p>It is not just a loyalty program. This is not just a formal club or social network. It is a new way of a
                service-follower interaction. It is an advanced socio-economic Know How built on the basis of the
                participation economics using the blockchain technology. There will be further details later.</p>
        </div>
    </div>
    <img class="wheel parallax lazy" data-src="assets/wheel.png" src="" alt="" data-velocity="0.22" data-action="rotate">
</section>
