<section class="slide" id="slide-club">
    <div class="container">
        <div class="content">
            <h2>Travel Club <img class="club-icon" src="assets/club.gif" alt=""></h2>
            <p>It is not just a loyalty program. This is not just a formal club or social network. It is a new way of a
                service-follower interaction. It is an advanced socio-economic Know How built on the basis of the
                participation economics using the blockchain technology. There will be further details later.</p>
        </div>
    </div>
    <img class="wheel parallax" src="assets/wheel.png" alt="" data-velocity="0.22" data-action="rotate">
</section>
