<section class="slide" id="slide-club" data-scroll>
    <div class="container">
        <div class="content">
            <h2>Travel Club <img class="club-icon lazy" data-src="assets/club.gif" src="" alt=""></h2>
            <p>Travel Club is a public sharing economy based community - a new generation of social network. The core idea behind it is a service, built by people for people and controlled by people. Our ever-growing community will be the main driver of the development of the service at the same time being the main beneficiary of service’s success. </p>
			<p>This is a big challenge in building new business models, balancing which requires outstanding efforts in the field of sociology, mathematics, economics and law.</p>

            <div class="rewards-wrapper">
                <h2>Multi-Level Award System</h2>
                {% include '../includes/rewards-cards.twig' with {
                    items: [{
                        img: 'assets/rewards/1.png',
                        title: 'Shoot short videos on your smartphone',
                        description: 'Download an app turn your smartphone into a professional tool. Take a short video. Upload it with one touch.'
                    },{
                        img: 'assets/rewards/2.png',
                        title: 'Create stories, reviews, routes',
                        description: 'Film your stories, reviews, memorize routes. The platform will teach you to make beautiful or handy videos, and will offer a couple of ways to promote and then monetize them.'
                    },{
                        img: 'assets/rewards/3.png',
                        title: 'Look, comment, share travel hacks',
                        description: 'View, comment, share travel hacks. Earn rewards for every action: there are at least 10 ways to contribute without leaving comfort of your home.'
                    },{
                        img: 'assets/rewards/4.png',
                        title: 'Attract friends, become a travel guru',
                        description: 'Find new friends and followers, become a travel guru. Dive into the world of travel! Travel your way and make others find their way! Travel could even become your main source of income.'
                    }]
                } %}
                <div class="info">
                    <span>Any contribution is rewarded by the community.</span>
                    <span>Exchange rewards you’ve got for tickets, bookings, services or money.</span>
                    <span>Become a partner and own part of a large platform.</span>
                </div>
            </div>
        </div>
    </div>
    <img id="club-wheel" class="wheel" src="assets/wheel.png" alt="" data-velocity="0.22"
         data-action="rotate">
</section>
