<section class="slide" id="slide-club" data-scroll>
    <div class="container">
        <div class="content">
            <h2>Travel Club <img class="club-icon lazy" data-src="assets/club.gif" src="" alt=""></h2>
            <p>It is not just a loyalty program. This is not just a formal club or social network. It is a new way of a
                service-follower interaction. It is an advanced socio-economic Know How built on the basis of the
                participation economics using the blockchain technology. There will be further details later.</p>

            <div class="rewards-wrapper">
                <h2>Multi-Level Rewards System</h2>
                {% include '../includes/rewards-cards.twig' with {
                    items: [{
                        img: 'assets/rewards/1.png',
                        title: 'Shoot short videos on your smartphone',
                        description: 'Just download the app and your smartphone will turn into a professional camera. Upload the video with one touch.'
                    },{
                        img: 'assets/rewards/2.png',
                        title: 'Create stories, reviews, routes',
                        description: 'The platform will help you to learn how to create useful videos and will offer you ways to promote and monetize them.'
                    },{
                        img: 'assets/rewards/3.png',
                        title: 'Look, comment, share travel hacks',
                        description: 'Earn rewards even when you just watch a video, you can find dozens of ways to be useful without leaving home.'
                    },{
                        img: 'assets/rewards/4.png',
                        title: 'Attract friends, become a travel guru',
                        description: 'Immerse yourself in the world of travel, help others find their way, make travel your main source of income, become a citizen of the world!'
                    }]
                } %}
                <div class="info">
                    <span>Any contribution is rewarded by the community</span>
                    <span>Exchange rewards for travel or money</span>
                    <span>Become a partner and own part of a big platform</span>
                </div>
            </div>
        </div>
    </div>
    <img id="club-wheel" class="wheel" src="assets/wheel.png" alt="" data-velocity="0.22"
         data-action="rotate">
</section>
