<section class="slide with-overlay" id="slide-events">
    <img class="slide-img-bg lazy" src="assets/backgrounds/events-bg.svg" alt="" data-src="assets/backgrounds/events-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>Events & Meetings</h2>
            <p>We participate in the largest significant events in the travel and blockchain spheres around the World.
                Soon the site will announce events in the USA, Europe and Asia, where we plan to present our
                project.</p>

            <div class="events">
                <!-- event 1 -->
                <div class="event">
                    {% include '../includes/gallery.twig' with {
                        idx: '1',
                        path: 'events/e1',
                        items: [{
                            name: '1.jpg',
                            path: 'events/e1',
                            size: '3264x2448',
                            title: 'Web Summit at Lisbon',
                            description: 'This year over 70,000 people came to Lisbon for Web Summit: CEOs and
                            founders of the world’s biggest companies, the most promising new startups, influential
                            investors and leading journalists. We found a lot of new partners and opportunities to move
                            forward faster.'
                        }, {
                            name: '2.jpg',
                            path: 'events/e1',
                            size: '3135x2351',
                            title: 'Web Summit at Lisbon',
                            description: 'This year over 70,000 people came to Lisbon for Web Summit: CEOs and
                            founders of the world’s biggest companies, the most promising new startups, influential
                            investors and leading journalists. We found a lot of new partners and opportunities to move
                            forward faster.'
                        }, {
                            name: '3.jpg',
                            path: 'events/e1',
                            size: '3264x2448',
                            title: 'Web Summit at Lisbon',
                            description: 'This year over 70,000 people came to Lisbon for Web Summit: CEOs and
                            founders of the world’s biggest companies, the most promising new startups, influential
                            investors and leading journalists. We found a lot of new partners and opportunities to move
                            forward faster.'
                        }, {
                            name: '4.jpg',
                            path: 'events/e1',
                            size: '2818x2287',
                            title: 'Web Summit at Lisbon',
                            description: 'This year over 70,000 people came to Lisbon for Web Summit: CEOs and
                            founders of the world’s biggest companies, the most promising new startups, influential
                            investors and leading journalists. We found a lot of new partners and opportunities to move
                            forward faster.'
                        }, {
                            name: '5.jpg',
                            path: 'events/e1',
                            size: '3264x2448',
                            title: 'Web Summit at Lisbon',
                            description: 'This year over 70,000 people came to Lisbon for Web Summit: CEOs and
                            founders of the world’s biggest companies, the most promising new startups, influential
                            investors and leading journalists. We found a lot of new partners and opportunities to move
                            forward faster.'
                        },{
                            name: '1.jpg',
                            path: 'events/e2',
                            size: '3264x2448',
                            title: 'Malta Blockchain Conference',
                            description: 'Prime Minister of Malta announced a new era of crypto sphere regulation. We
                            were glad to be there at this historic moment and discuss with representatives of the government
                            and financial and legal companies the prospects of the crypto market.'
                        }, {
                            name: '2.jpg',
                            path: 'events/e2',
                            size: '3264x2448',
                            title: 'Malta Blockchain Conference',
                            description: 'Prime Minister of Malta announced a new era of crypto sphere regulation. We
                            were glad to be there at this historic moment and discuss with representatives of the government
                            and financial and legal companies the prospects of the crypto market.'
                        }, {
                            name: '3.jpg',
                            path: 'events/e2',
                            size: '4000x3000',
                            title: 'Malta Blockchain Conference',
                            description: 'Prime Minister of Malta announced a new era of crypto sphere regulation. We
                            were glad to be there at this historic moment and discuss with representatives of the government
                            and financial and legal companies the prospects of the crypto market.'
                        }, {
                            name: '4.jpg',
                            path: 'events/e2',
                            size: '2818x2287',
                            title: 'Malta Blockchain Conference',
                            description: 'Prime Minister of Malta announced a new era of crypto sphere regulation. We
                            were glad to be there at this historic moment and discuss with representatives of the government
                            and financial and legal companies the prospects of the crypto market.'
                        }]
                    } %}
                </div>
            </div>
        </div>
    </div>
</section>
