<section class="slide lazy" id="slide-goal">
    <img class="slide-img-bg lazy" src="assets/backgrounds/goal-bg.svg" alt="" data-src="assets/backgrounds/goal-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>Our Goal</h2>
            <p>Creation of the most visited platform in the world in the segment of world tourism with the conversion of
                sales of travel services and services of all types. From tickets and tours to applications and online
                guides.</p>

            <div class="info">
                <p>Coverage in <strong>3-5 years - 200-300 million</strong> uniks per month.</p>
                <p>Markets:</p>
                <ul>
                    <li>USA</li>
                    <li>Europe</li>
                    <li>Asia</li>
                </ul>
            </div>
        </div>
    </div>
</section>
