<section class="slide with-overlay" id="slide-goal">
    <img class="slide-img-bg lazy" src="assets/backgrounds/goal-bg.svg" alt=""
         data-src="assets/backgrounds/goal-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>Our Goal</h2>
			<div class="half-left">
				<p>We have designed a global innovative product, and our goals are truly ambitious! 
				On the basis of a Multi-Level Community Partnership, we will create the largest Travel Media and Social Network.</p> 
				<br/>
				<p>It will be the most comprehensive cross-border travel resource with an audience of over 1 billion users.</p>
			</div>
            {% include '../includes/tabs-slider.twig' with {
                name: 'goal',
                items: [{
                    name: 'Mobile',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/mobile.jpg',
                },{
                    name: 'Web',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/laptop.jpg',
                },{
                    name: 'Smart TV',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/smarttv.jpg',
                },{
                    name: 'Projectors',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/projector.jpg',
                },{
                    name: 'Speakers',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/speaker.jpg',
                },{
                    name: 'Watches',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/smartwatch.jpg',
                },{
                    name: 'Hotel TV',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/hotel.jpg',
                },{
                    name: 'Air&Train',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/plane.jpg',
                },{
                    name: 'Cars',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/car.jpg',
                },{
                    name: 'VR&AR',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                    image: 'assets/goals/vr.jpg',
                }]
            } %}
        </div>
    </div>
</section>
