<section class="slide with-overlay" id="slide-inspirers">
    <img class="slide-img-bg lazy" src="assets/backgrounds/inspirers-bg.svg" alt=""
         data-src="assets/backgrounds/inspirers-bg.jpg">
    <div class="container">
        <div class="content">
            <h2 class="uppercase">Our great inspirers</h2>
            {% include '../includes/inspires-cards.twig' with {
                idx: 'inspires',
                items: [{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 2',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 2',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 2',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 2',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 2',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                },{
                    img: 'https://via.placeholder.com/320x240',
                    title: 'Lorem Ipsum 3',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsum.'
                }]
            } %}
        </div>
    </div>
</section>
