<section class="slide with-overlay" id="slide-inspirers">
    <img class="slide-img-bg lazy" src="assets/backgrounds/inspirers-bg.svg" alt=""
         data-src="assets/backgrounds/inspirers-bg.jpg">
    <div class="container">
        <div class="content">
            <h2 class="uppercase">Our great inspirers</h2>
            {% include '../includes/inspires-cards.twig' with {
                idx: 'inspires',
                items: [{
                    img: 'assets/inspirers/magellan.jpg',
                    title: 'Ferdinand Magellan',
                    description: 'He made the world\'s first round-the-world trip in 1519.'
                },{
                    img: 'assets/inspirers/strabon.jpg',
                    title: 'Strabon',
                    description: 'The great ancient traveler is the father of geography. 1st century BC.'
                },{
                    img: 'assets/inspirers/cook.jpg',
                    title: 'James Cook',
                    description: 'Great explorer, cartographer and discoverer. 18th century ad.'
                },{
                    img: 'assets/inspirers/vasco.jpg',
                    title: 'Vasco da Gama',
                    description: 'A Portuguese Navigator, the first to sail from Europe to India in the 15th century.'
                },{
                    img: 'assets/inspirers/tagore.jpg',
                    title: 'Rabindranath Tagore',
                    description: 'Great Indian poet, sage, figure, traveler, Nobel prize winner.'
                },{
                    img: 'assets/inspirers/battuta.jpg',
                    title: 'Ibn Battuta',
                    description: 'Еraveled the world from Bulgar to Mombasa, from Timbuktu to China.'
                },{
                    img: 'assets/inspirers/columb.jpg',
                    title: 'Christopher Columbus',
                    description: 'First one to cross the Atlantic Ocean. Discovered South and Central America.'
                },{
                    img: 'assets/inspirers/darwin.jpg',
                    title: 'Charles Darwin',
                    description: 'Traveled the world for 5 years studying the flora and fauna. As a result, created the theory of evolution.'
                },{
                    img: 'assets/inspirers/livingstone.jpg',
                    title: 'David Livingstone',
                    description: 'Explored Central Africa, discovered the Victoria Falls.'
                },{
                    img: 'assets/inspirers/amundsen.jpg',
                    title: 'Roald Amundsen',
                    description: 'The first person to reach the South Pole and the first to conquer both poles.'
                },{
                    img: 'assets/inspirers/barret.jpg',
                    title: 'Jeanne Barret',
                    description: 'The first woman who made a trip around the world.'
                },{
                    img: 'assets/inspirers/kruzenshtern.jpg',
                    title: 'Ivan Kruzenshtern',
                    description: 'Together with Yuri Lisyansky, made the first Russian round-the-world expedition.'
                },{
                    img: 'assets/inspirers/maklay.jpg',
                    title: 'Nikolay Miklukho-Maclay',
                    description: 'An ethnographer who studied the indigenous population of Southeast Asia, Australia and Oceania.'
                },{
                    img: 'assets/inspirers/cousteau.jpg',
                    title: 'Jacques-Yves Cousteau',
                    description: 'Researcher of the World Ocean. Created the first apparatus for immersion "Deniz".'
                },{
                    img: 'assets/inspirers/konykhov.jpg',
                    title: 'Fedor Konyukhov',
                    description: 'Made 5 voyages around the world, crossed the Atlantic 17 times.'
                },{
                    img: 'assets/inspirers/lewis.jpg',
                    title: 'Jason Lewis',
                    description: 'A Traveller who went around the planet, without using mechanical means of transportation.'
                },{
                    img: 'assets/inspirers/bear.jpg',
                    title: 'Bear Grylls',
                    description: 'A survival traveler and a cool guy.'
                },{
                    img: 'assets/inspirers/gagarin.jpg',
                    title: 'Yuri Gagarin',
                    description: 'The first person in history who flew into space.'
                },{
                    img: 'assets/inspirers/drake.jpg',
                    title: 'Francis Drake',
                    description: 'Pirate, the first Englishman to sail around the world.'
                },{
                    img: 'assets/inspirers/qian.jpg',
                    title: 'Zhang Qian',
                    description: 'Made a trip to from China to Central Asia. Discovered the Great Silk Road.'
                },{
                    img: 'assets/inspirers/xiake.jpg',
                    title: 'Xu XiaKe',
                    description: 'Author of "The Travel Notes". Studied the mountain and river systems of China.'
                },{
                    img: 'assets/inspirers/kipling.jpg',
                    title: 'Rudyard Kipling',
                    description: 'While traveling, published his travel notes and made the whole world fall in love with India and Asia.'
                },{
                    img: 'assets/inspirers/uemura.jpg',
                    title: 'Naomi Uemura',
                    description: 'The lone traveler, who conquered North Pole and 5 of the 7 worlds highest peaks.'
                }]
            } %}
        </div>
    </div>
</section>
