<section id="slide-mission" class="slide">
    <div class="container">
        <div class="content">
            <h2>Our Social Mission</h2>

            <figure class="mission-row">
                <figcaption class="mission-row_caption">To encourage and help hundreds of millions of people to explore 
				the world both in real travel, and in travel through the content and experience of others.
                </figcaption>
                <img class="mission-row_image" src="assets/mission/travel_more.jpg" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    assumenda at debitis dolore dolorum earum fugiat harum modi molestiae molestias nobis non obcaecati
                    optio praesentium repellendus, sed sequi similique sit soluta, veniam vero voluptates voluptatum!
                    Accusamus consectetur deserunt eligendi, ex facilis iusto magnam magni nam natus nisi perferendis
                    praesentium, sequi?
                </figcaption>
                <img class="mission-row_image" src="assets/mission/availability.jpg" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    assumenda at debitis dolore dolorum earum fugiat harum modi molestiae molestias nobis non obcaecati
                    optio praesentium repellendus, sed sequi similique sit soluta, veniam vero voluptates voluptatum!
                    Accusamus consectetur deserunt eligendi, ex facilis iusto magnam magni nam natus nisi perferendis
                    praesentium, sequi?
                </figcaption>
                <img class="mission-row_image" src="assets/mission/unesco.jpg" alt="">
            </figure>

            <em class="val uppercase">BEMYWAYS - ENJOY THE WORLD!</em>
        </div>
    </div>
</section>
