<section id="slide-mission" class="slide">
    <div class="container">
        <div class="content">
            <h2>Our social mission</h2>

            <figure class="mission-row">
                <figcaption class="mission-row_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    assumenda at debitis dolore dolorum earum fugiat harum modi molestiae molestias nobis non obcaecati
                    optio praesentium repellendus, sed sequi similique sit soluta, veniam vero voluptates voluptatum!
                    Accusamus consectetur deserunt eligendi, ex facilis iusto magnam magni nam natus nisi perferendis
                    praesentium, sequi?
                </figcaption>
                <img class="mission-row_image" src="https://via.placeholder.com/340x225" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    assumenda at debitis dolore dolorum earum fugiat harum modi molestiae molestias nobis non obcaecati
                    optio praesentium repellendus, sed sequi similique sit soluta, veniam vero voluptates voluptatum!
                    Accusamus consectetur deserunt eligendi, ex facilis iusto magnam magni nam natus nisi perferendis
                    praesentium, sequi?
                </figcaption>
                <img class="mission-row_image" src="https://via.placeholder.com/340x225" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    assumenda at debitis dolore dolorum earum fugiat harum modi molestiae molestias nobis non obcaecati
                    optio praesentium repellendus, sed sequi similique sit soluta, veniam vero voluptates voluptatum!
                    Accusamus consectetur deserunt eligendi, ex facilis iusto magnam magni nam natus nisi perferendis
                    praesentium, sequi?
                </figcaption>
                <img class="mission-row_image" src="https://via.placeholder.com/340x225" alt="">
            </figure>

            <em class="val uppercase">Lorem ipsum dolor.</em>
        </div>
    </div>
</section>
