<section class="slide with-overlay" id="slide-partners">
    <div class="container">
        <div class="content">
            <h2>Partners</h2>
            <p>Our project is interesting to all large and medium-sized players of the tourism market, as we become the
                main entry point for millions of people involved in travel. Our partnership model is "Win-Win-Win",
                which is beneficial for our partners, our customers and our platform. We are open for new acquaintances
                and cooperation all over the world!</p>
        </div>
    </div>
    <div class="partners">
        <div class="line">
            <img class="logo" style="width: 5.05rem; height: 3.75rem;" src="assets/partners/unesco.png" alt="">
            <img class="logo" style="width: 7.6rem; height: 4.4rem; margin: 0 -1.5rem;" src="assets/partners/star.png" alt="">
            <img class="logo" style="width: 4.05rem; height: 4.05rem;" src="assets/partners/skyteam.svg" alt="">
            <img class="logo" style="width: 4.25rem; height: 4.25rem;" src="assets/partners/oneworld.png" alt="">
            <img class="logo" style="width: 4.35rem; height: 5.25rem; margin-top: -1.25rem;" src="assets/partners/apple.png" alt="">
            <img class="logo" style="width: 9.65rem; height: 5.1rem; margin-right: -.6rem;" src="assets/partners/lg.png" alt="">
        </div>
        <div class="line">
            <img class="logo" style="width: 15.95rem; height: 3.55rem;" src="assets/partners/booking.png" alt="">
            <img class="logo" style="width: 10.5rem; height: 3.3rem;" src="assets/partners/air.png" alt="">
            <img class="logo" style="width: 13.05rem; height: 1.95rem;" src="assets/partners/samsung.png" alt="">
        </div>
    </div>
</section>
