<section class="slide with-overlay" id="slide-rewards">
    <img class="slide-img-bg lazy" src="assets/backgrounds/rewards-bg.svg" alt="" data-src="assets/backgrounds/rewards-bg.jpg">
    <div class="container">
        <div class="content">

        </div>
    </div>
</section>
