<section class="slide" id="slide-start" data-scroll>
    <div class="container">
        <div class="content">
            <h2 class="title">BEMYWAYS – THE TRAVEL BEGINS HERE!</h2>
            {% include '../includes/stars.twig' %}
        </div>
    </div>
</section>
