<section class="slide with-overlay" id="slide-store">
    <img class="slide-img-bg lazy" src="assets/backgrounds/store-bg.svg" alt="" data-src="assets/backgrounds/store-bg.jpg">
    <div class="container">
        <div class="content">
            <p class="desc">Service recommendation space</p>
            <h2>Travel Store</h2>
            <p>This is a storage and recommendation system of the best travel services and applications. We integrate
                hundreds of local and global services from such giants as Booking and AirBnB to highly specialized
                services and startups into one store. Each product will be shown and recommended according to the topic
                relevance, user-centered evaluation and individual user tracking. We are planning to structure a huge
                market and make a virtual, self-regulating Travel Store based on the blockchain and system’s user and
                follower participation.</p>
        </div>
    </div>
    <div class="blocks">
        <div class="block one fade" data-scroll>
            <img class="lazy" data-src="assets/stores-one.png" src="" alt="">
            <div class="card">
                <p class="title">Where to stay</p>
                <p class="description">
                    Millions of accommodation options for the most comfortable stay.
                </p>
            </div>
        </div>
        <div class="block two fade" data-scroll>
            <img class="lazy" data-src="assets/stores-two.png" src="" alt="">
            <img class="ticket lazy" data-src="assets/ticket.gif" src="" alt="">
            <div class="card to-right">
                <p class="title">How to get</p>
                <p class="description">
                    We will offer different options on how to get to your destination at the best prices.
                </p>
            </div>
        </div>
        <div class="block three fade" data-scroll>
            <img class="lazy" data-src="assets/stores-three.png" src="" alt="">
            <div class="card">
                <p class="title">Things to do</p>
                <p class="description">
                    Discover new types of travel and activities around the world with us.
                </p>
            </div>
        </div>
    </div>
</section>
