<section class="slide slide-store with-overlay">
    <div class="container">
        <div class="content">
            <p class="desc">Service recommendation space</p>
            <h2>Travel Store</h2>
            <p>This is a storage and recommendation system of the best travel services and applications. We integrate
                hundreds of local and global services from such giants as Booking and AirBnB to highly specialized
                services and startups into one store. Each product will be shown and recommended according to the topic
                relevance, user-centered evaluation and individual user tracking. We are planning to structure a huge
                market and make a virtual, self-regulating Travel Store based on the blockchain and system’s user and
                follower participation.</p>
        </div>
    </div>
    <div class="blocks">
        <div class="block one fade" data-scroll>
            <img src="assets/stores-one.png" alt="">
            <div class="card">
                <p class="title">Where to stay</p>
                <p class="description">
                    Millions of accommodation options for the most comfortable stay.
                </p>
            </div>
        </div>
        <div class="block two fade" data-scroll>
            <img src="assets/stores-two.png" alt="">
            <img class="ticket" src="assets/ticket.gif" alt="">
            <div class="card to-right">
                <p class="title">How to get</p>
                <p class="description">
                    We will offer different options on how to get to your destination at the best prices.
                </p>
            </div>
        </div>
        <div class="block three fade" data-scroll>
            <img src="assets/stores-three.png" alt="">
            <div class="card">
                <p class="title">Things to do</p>
                <p class="description">
                    Discover new types of travel and activities around the world with us.
                </p>
            </div>
        </div>
    </div>
</section>
