<section class="slide with-overlay" id="slide-tabs">
    <div class="container">
        <div class="content">            
            <p>Video is a new data retrieval language. BEMYWAYS is a new level of accessibility, efficiency and monetization of travel blogging.</p>


            <div class="tabs">
                {% include '../includes/tabs-slider.twig' with {
                    name: 'tabs',
                    items: [{
                        name: 'Hacks',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/hacks.jpg',
                    },{
                        name: 'Live',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/live.jpg',
                    },{
                        name: 'Stories',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/stories.jpg',
                    },{
                        name: 'Reviews',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/reviews.jpg',
                    },{
                        name: 'Events',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/events.jpg',
                    },{
                        name: 'Guides',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/guides.jpg',
                    },{
                        name: 'Shows',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/shows.jpg',
                    },{
                        name: 'Challenges',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/challenges.jpg',
                    },{
                        name: 'Tips',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/tips.jpg',
                    },{
                        name: 'Vlogs',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, vero.',
                        image: 'assets/tube/vlogs.jpg',
                    }]
                } %}
            </div>
        </div>
    </div>
</section>
