<section class="slide slide-team with-overlay">
    <div class="container">
        <div class="content">
            <h2>Our Team</h2>
            <p>We are the team of Professionals with more than 10 years of experience in the largest Telecom and
                E-commerce companies and we are united by the ability and desire to create global innovative B2C
                products of the future. Our goal is to bring the value and accessibility of travel to billions of people
                and to show them that there are no borders in the World!</p>
        </div>
        <div class="team">
            <figure>
                <img src="assets/team/ceo.jpg" alt="CEO"/>
                <figcaption>
                    <div class="card">
                        <div class="title">Matvey Otroshenko</div>
                        <div class="description">
                            <div>CEO & Co-Founder</div>
                            <div>
                                <a href="https://www.instagram.com/matt_watchmyways/" class="soc-icon ig" target="_blank" rel="nofollow noopener"></a>
                                <a href="https://www.facebook.com/matvey.otroshenko" class="soc-icon fb" target="_blank" rel="nofollow noopener"></a>
                                <a href="https://www.linkedin.com/in/matvey-o/" class="soc-icon in" target="_blank" rel="nofollow noopener"></a>
                            </div>
                        </div>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/team/cfo.jpg" alt="CFO"/>
                <figcaption>
                    <div class="card to-right">
                        <div class="title">Pavel Kalmaev</div>
                        <div class="description">
                            <div>CFO & Co-Founder</div>
                            <div>
                                <a href="https://www.instagram.com/paul_bemyways/" class="soc-icon ig" target="_blank" rel="nofollow noopener"></a>
                                <a href="https://www.linkedin.com/in/pavel-k/" class="soc-icon in" target="_blank" rel="nofollow noopener"></a>
                            </div>
                        </div>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/team/cto.jpg" alt="CTO"/>
                <figcaption>
                    <div class="card">
                        <div class="title">Vladimir Elkind</div>
                        <div class="description">
                            <div>CTO & Co-Founder</div>
                            <div>
                                <a href="https://www.instagram.com/v_elkind/" class="soc-icon ig" target="_blank" rel="nofollow noopener"></a>
                                <a href="https://www.facebook.com/vladimir.elkind" class="soc-icon fb" target="_blank" rel="nofollow noopener"></a>
                                <a href="https://www.linkedin.com/in/elkind-v/" class="soc-icon in" target="_blank" rel="nofollow noopener"></a>
                            </div>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
