<section class="slide with-overlay overlay-zindex_1" id="slide-tube">
    <img class="slide-img-bg lazy" src="assets/backgrounds/tube-bg.svg" alt=""
         data-src="assets/backgrounds/tube-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>Travel Tube</h2>
            <p>This is an innovative platform with a focus on travel video content. Video is a new data retrieval
                language. There will be<strong>inspiring videos, travel life hacks, reviews, live broadcasts, travel
                    stories, video tutorials, video guides, P2P chat</strong> and much more. All of this is the pleasure
                of finding new ideas, new formats and cost-cutting schemes, new objectives, places and sightseeings.</p>
            <p class="val"><strong>BEMYWAYS</strong> is a new level of accessibility, efficiency and monetization
                of travel blogging.
            </p>
        </div>
    </div>
    {#<img class="parallax" src="assets/tube-left.png" alt="" class="" data-velocity="0.54">#}
    {#<img class="parallax" src="assets/tube-right.png" alt="" class="" data-velocity="0.54">#}
    </div>
</section>
