<section class="slide with-overlay overlay-zindex_1" id="slide-tube" data-scroll>
    <img class="slide-img-bg lazy" src="assets/backgrounds/tube-bg.svg" alt=""
         data-src="assets/backgrounds/tube-bg.jpg">

    <input class="seek" step="1" type="range" min="0" max="100" value="0"/>
    <img src="assets/tube-left.png" alt="" class="tube-parallax tube-left">
    <img src="assets/tube-right.png" alt="" class="tube-parallax tube-right">
</section>
