<section class="slide with-overlay overlay-zindex_1" id="slide-tube">
    <img class="slide-img-bg lazy" src="assets/backgrounds/tube-bg.svg" alt=""
         data-src="assets/backgrounds/tube-bg.jpg">
    {#<img class="parallax" src="assets/tube-left.png" alt="" class="" data-velocity="0.54">#}
    {#<img class="parallax" src="assets/tube-right.png" alt="" class="" data-velocity="0.54">#}
    </div>
</section>
