.gallery {
  position: relative;
  transition: outline-color .2s;
  outline: .3em solid transparent;

  &:focus-within {
    outline-color: #fff;
  }

  .glider {
    width: 52rem;
    height: 40rem;
    overflow: hidden;
  }

  .glider-slide {
    position: relative;
  }

  .glider-next,
  .glider-prev {
    top: 0;
    width: 20%;
    height: 100%;
  }

  .glider-next {
    right: -40px;
    text-align: right;
  }

  .glider-prev {
    left: -40px;
    text-align: left;
  }

  .gallery-card {
    position: absolute;
    top: 40rem;
    left: 0;
    transform: translateY(-100%);
    z-index: 10;
    width: 100%;
  }
}
