/* global */
h1, h2 {
  margin-bottom: 0.3em;
  line-height: 1em;
  font-size: 4rem;
  font-weight: bold;
}

.footer {
  padding: 3rem;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.slide {
  position: relative;
  padding: 6rem 4rem;
  overflow: hidden;

  .slide-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter .3s;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(0);
    user-select: none;
    object-fit: cover;
  }

  .lazy {
    filter: blur(10px);
  }
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 52rem;
}

.content {
  //width: 50rem;
}

.card {
  display: inline-block;
  background: #fff;
  padding: 1em;
  max-width: 26em;
  color: #000;
  font-size: 0.8rem;

  &.to-right {
    text-align: right;
  }

  .title {
    color: $main-color;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .description {

  }
}

.soc-icon {
  display: inline-block;
  border-radius: 0.4rem;
  background-color: rgb(0, 120, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.6rem;
  width: 1.6rem;
  height: 1.6rem;

  &.ig {
    background-image: url('assets/soc/ig.png');
  }

  &.fb {
    background-image: url('assets/soc/fb.png');
  }

  &.in {
    background-image: url('assets/soc/in.png');
  }
}
