.header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 60em;
  font-size: 1.2rem;

  .logo {
    height: 3rem;
  }

  .header-links {
    display: flex;
    align-items: center;
  }

  .navigation {
    a {
      margin-right: 1em;
      text-transform: lowercase;
      color: #fff;
    }
  }

  .languages {
    display: flex;
    align-items: center;
  }

  .lang {
    $size: 1.5rem;
    margin-left: .5em;
    background-repeat: no-repeat;
    background-size: $size;
    width: $size;
    height: $size;
    vertical-align: middle;
  }

  .lang-ru {
    background-image: url('assets/flags/ru.png');
  }

  .lang-uk {
    background-image: url('assets/flags/uk.png');
  }

  .lang-ch {
    background-image: url('assets/flags/ch.png');
  }
}
