.tabs-slider {
  display: flex;
  position: relative;
  margin-bottom: 19.5rem;

  &_item {
    display: flex;
    position: absolute;
    top: 2.5rem;
    transition: opacity .4s;
    opacity: 0;
    background-color: rgba(255,255,255,0.9);
    height: 18.75rem;
    overflow: hidden;
    color: #222;
  }

  &_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  &_text {
    padding: 1em;
    width: 50%;
  }

  &_header {
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
  }

  &_slide-btn {
    transition: border .2s;
    margin-right: 1em;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    background: none;
    cursor: pointer;
    padding: .5em 1em;
    text-transform: uppercase;
    color: #fff;
    font-size: .7em;
    font-weight: bold;

    &:hover {
      border: 1px solid #fff;
    }
  }

  & [type="radio"] {
    display: none;
  }

  [type="radio"]:checked + label {
    border: 1px solid #fff;
  }

  [type="radio"]:checked + label + .tabs-slider_item {
    opacity:  1;
  }
}
