<!doctype html>
<html lang="en">
<head>
    {% include "../includes/head.twig" %}
</head>
<body>
{% include "../includes/header.twig" %}

<!-- slides -->
{% include "../slides/main.twig" %}
{% include "../slides/goal.twig" %}
{% include "../slides/values.twig" %}
{% include "../slides/tube.twig" %}
{% include "../slides/store.twig" %}
{% include "../slides/apps.twig" %}
{% include "../slides/club.twig" %}
{% include "../slides/rewards.twig" %}
{% include "../slides/blockchain.twig" %}
{% include "../slides/partners.twig" %}
{% include "../slides/events.twig" %}
{% include "../slides/team.twig" %}

<!-- footer -->
{% include "../includes/footer.twig" %}

<!-- popups -->
{% include "../includes/photoswipe.twig" %}

<!-- scripts -->
{% include "../includes/scripts.twig" %}
</body>
</html>
