.slide-apps {
  position: relative;
  height: 19rem;
  overflow: hidden;
  pointer-events: none;

  .val,
  .apps,
  .discounts {
    will-change: transform;
    position: absolute;
  }

  .val {
    top: 5.5rem;
    margin: 1em 0;
    white-space: nowrap;
  }

  .apps {
    right: 0;
    min-width: 3250px;
    height: 85px;
  }

  .discounts {
    display: block;
    top: 9rem;
    left: 7rem;
    opacity: .7;
    max-width: 3093154.65rem;
    height: 10rem;
  }
}
