#slide-values {
  display: flex;
  align-items: center;
  background: url(assets/backgrounds/values-bg.jpg) no-repeat;
  background-size: cover;
  min-height: 65rem;

  .content {
    width: 35em;
  }

  .we {
    margin: 1em 0 3em;
    font-weight: bold;

    li {
      margin-bottom: .5em;
    }
  }

  h3 {
    margin-bottom: .8em;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
