#slide-blockchain {
  background-color: $main-color;

  h2 {
    margin: 0 auto;
    width: 50rem;
    text-align: center;
    font-size: 3rem;
  }
}

.slide-blockchain-video {
  padding: 0;

  video {
    margin-left: -20rem;
    min-width: calc(100% + 40rem);
    object-fit: cover;
  }
}
