.slide-club {
  background: linear-gradient(rgba(3, 42, 132, .6) 60%, $main-color), url('assets/backgrounds/club-bg.jpg') bottom no-repeat;
  background-size: cover;
  min-height: 60em;

  .club-icon {
    position: absolute;
    margin-left: 2rem;
    width: 4rem;
    height: 5rem;
  }

  .wheel {
    position: absolute;
    left: -300px;
    margin-top: 2em;
    width: 600px;
  }
}
