#slide-events {
  background: linear-gradient(rgba(3, 42, 132, 0.6), rgba(3, 42, 132, 0.6)), url('assets/backgrounds/events-bg.jpg') center no-repeat;
  background-size: cover;

  .events {
    display: flex;
    flex-wrap: wrap;
  }

  .event {
    margin-top: 3em;
  }

  .card {
    max-width: 100%;
  }
}
