#slide-goal {
  min-height: 45rem;

  .top-5 {
	margin-top: 5rem;
  }
  
  .content {
    background: url('assets/backgrounds/goal-content-bg.png') top right no-repeat;
	background-size: cover;
  }
  
  .half-left {
	width: 50%;
  }
  
  .info {
    margin-top: 1em;
    margin-bottom: 6em;
    font-size: 1.2rem;

    p {
      margin-bottom: 1em;
    }

    ul {
      display: flex;
      font-weight: bold;
    }

    li {
      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }
}
