#slide-goal {
  display: flex;
  align-items: center;
  min-height: 65rem;

  .slide-img-bg {
    z-index: 1;
  }

  .content {
    width: 40em;
  }

  .info {
    margin-top: 1em;
    font-size: 1.2rem;

    p {
      margin-bottom: 1em;
    }

    ul {
      display: flex;
      font-weight: bold;
    }

    li {
      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }
}
