#slide-inspirers {
  h2 {
    text-align: center;
  }

  .inspires {
    position: relative;

    &-list {
      display: flex;
    }

    .glider-prev,
    .glider-next {
      top: calc(50% - 20px);
    }

    .glider-prev {
      left: -40px;
    }

    .glider-next {
      right: -40px;
    }

    &-card {
      border: 1px solid $main-color;
      background-color: rgba($main-color, .6);
      text-align: center;

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      &_header {
        padding: .5em;
        font-size: .875em;

        & > h3 {
          margin-bottom: .5em;
          font-size: 1.2em;
          font-weight: bold;
        }
      }

      &_bg {
        width: 10em;
        height: 7.5em;
        object-fit: cover;
      }
    }
  }
}
