.slide-main {
  min-height: 100vh;

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .container {
    animation: fadeInUp 1.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .content {
    max-width: 38rem;
  }
}
