.slide-partners {
  background: linear-gradient($main-color 10%, rgba(3, 42, 132, 0) 80%), linear-gradient(rgba(3, 42, 132, 0) 40%, $main-color), url('assets/backgrounds/partners-bg.jpg') center no-repeat;
  background-size: cover;
  padding-right: 0;
  padding-left: 0;

  .partners {
    margin: 5em 0;
    background-color: #fff;
    padding: 2em;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 46em;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .logo {
    //max-height: 90px;
  }
}
