.slide-partners {
  background: url('assets/backgrounds/partners-bg.jpg') center no-repeat;
  background-size: cover;
  padding-right: 0;
  padding-left: 0;
  min-height: 40em;

  .partners {
    position: relative;
    z-index: 1;
    margin: 5em 0;
    background-color: #fff;
    padding: 2em;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 46em;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .logo {
    //max-height: 90px;
  }
}
