#slide-start {
  background-color: rgba(0,0,0,.4);
  padding-top: 15rem;
  min-height: 65rem;

  .title {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }
}
