$height: 1700px;

#slide-tube {
  min-height: $height;
  max-height: $height;

  .content {
    position: relative;
    z-index: 2;
  }

  .val {
    margin-top: .5em;
    font-size: 1.2em;
  }

  .parallax {
    display: flex;
    position: absolute;
    top: 700px;
    right: -9999px;
    left: -9999px;
    justify-content: space-between;
    margin: auto;
    width: 1250px;
    pointer-events: none;
  }
}
