$height: 1500px;

#slide-tube {
  padding-right: 0;
  padding-left: 0;
  min-height: $height;
  max-height: $height;

  .tube-left,
  .tube-right {
    position: absolute;
  }

  .tube-left {
    left: 0;
  }

 .tube-right {
    right: 0;
  }

  //.parallax {
  //  display: block;
  //  //position: absolute;
  //  //top: 700px;
  //  //right: -9999px;
  //  //left: -9999px;
  //  margin: auto;
  //  min-width: 1000px;
  //  height: 2467px;
  //  pointer-events: none;
  //}
}
