<section class="slide" id="slide-blockchain">
    <div class="container">
        <div class="content">
            <h2 class="uppercase">Welcome to the world's first global video sharing platform on the blockchain!</h2>
        </div>
    </div>
</section>
<section class="slide slide-blockchain-video with-overlay">
    <video data-scroll autoplay muted loop playsinline poster="assets/backgrounds/blockchain-bg.jpg">
        <source src="https://s3.eu-central-1.amazonaws.com/bemyways-video/blockchain-bg.mp4" type="video/mp4">
        <img class="lazy" data-src="assets/backgrounds/blockchain-bg.jpg" src="assets/backgrounds/blockchain-bg.svg" alt="">
    </video>
</section>
