<section class="slide with-overlay" id="slide-goal">
    <div class="container">
        <div class="content">
            <h2>Our Goal</h2>
			<div class="half-left">
				<p>We are creating a global innovative product, the largest themed media and social network. This is an ambitious goal, but imagine the result - in several years it may just become the most visited platform in the world with over 1 billion users.</p>

			</div>
			<h2 class="top-5">Platforms</h2>
            {% include '../includes/tabs-slider.twig' with {
                name: 'goal',
                items: [{
                    name: 'Mobile',
                    text: 'The main platform of the service, which will be supplemented by a number of options that encourage subscriptions to vlogs and daily consumption of content.',
                    image: 'assets/goals/mobile.jpg',
                },{
                    name: 'Web',
                    text: 'A tool for travelling part of community to prepare their trip. It’s consists of well-structured accessible video content and conveniently structured e-commerce service.',
                    image: 'assets/goals/laptop.jpg',
                },{
                    name: 'Smart TV',
                    text: 'The large screen is the center of attraction for the whole family and the opportunity to enjoy Full HD content together. We got our inspiration from the best Connected TV platforms like Apple TV, Amazon, Android TV, Samsung, LG, Sony, etc.',
                    image: 'assets/goals/smarttv.jpg',
                },{
                    name: 'Projectors',
                    text: 'Nowadays we see projectors becoming a means of interactive learning for children. We intend to make an educational version of the product and tailor it for use in schools around the world.',
                    image: 'assets/goals/projector.jpg',
                },{
                    name: 'Speakers',
                    text: 'Voice assistants and smart speakers that are already woven in our everyday life are in need of high-quality voice content. BeMyWays would be the main source of travel content for these devises.',
                    image: 'assets/goals/speaker.jpg',
                },{
                    name: 'Watches',
                    text: 'Smart watches as a platform have an undeniable advantage of immediate user access, which is crucial for travelling, but this comes with a requirement applications adaptation. Being familiar with the adaptation process we’re willing to use all the advantages of watches!',
                    image: 'assets/goals/smartwatch.jpg',
                },{
                    name: 'Hotel TV',
                    text: 'Recently, most hotel TV’s have adopted a Smart TV system. It’s meeting point for a traveler and the content. This is an important platform where we can implement a number of extremely useful interactive features.',
                    image: 'assets/goals/hotel.jpg',
                },{
                    name: 'Air&Train',
                    text: 'The number of screens people meet with in transport is growing at an enormous speed. We’re not going to stand aside and will actively cooperate with partners in this field.',
                    image: 'assets/goals/plane.jpg',
                },{
                    name: 'Cars',
                    text: 'Self-driving cars as a concept is gaining active popularity lately. Clearly content consumption will be one of the most popular occupations during a trip in such car. Access to Travel content in this case will be especially relevant.',
                    image: 'assets/goals/car.jpg',
                },{
                    name: 'VR&AR',
                    text: 'The possibility of virtual travel or interactive features in real world traveling are the unique advantages of these technologies. In our view those technologies will progress towards cooperation with thematic content providers.',
                    image: 'assets/goals/vr.jpg',
                }]
            } %}
        </div>
    </div>
</section>
