<section class="slide" id="slide-main">
    <div class="container">
        <div class="content">
            <h1 class="uppercase">Be my ways</h1>
            <p>This is the new accessible medium for the best travel experience around the planet. Now you will see everything with your own eyes. Inspire, plan, share and choose the best ways to travel and enjoy the beauty of the world. This is the new way! Join now!</p>
        </div>
    </div>
    <video class="bg" autoplay muted loop playsinline poster="assets/backgrounds/main-bg.jpg">
        <source src="https://s3.eu-central-1.amazonaws.com/bemyways-video/BG.mp4" type="video/mp4">
        <img class="lazy" alt="" src="assets/backgrounds/main-bg.svg" data-src="assets/backgrounds/main-bg.jpg"/>
    </video>
    <button class="sound-button sound-off"></button>
</section>
