<section class="slide with-overlay" id="slide-mission">
	<img class="slide-img-bg lazy" src="assets/backgrounds/mission-bg.svg" alt="" data-src="assets/backgrounds/mission-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>MISSION \ SOCIAL RESPONSIBILITY</h2>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Light up millions of people with the idea of regular travel and exploration of the world. Raise a global self-developing creatively involved community.</figcaption>
                <img class="mission-row_image lazy" data-src="assets/mission/travel_more.jpg" src="assets/mission/travel_more.svg" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">Make travel economically and conceptually more accessible for those who can’t afford to travel more often or to travel at all.</figcaption>
                <img class="mission-row_image lazy" data-src="assets/mission/availability.jpg" src="assets/mission/travel_more.svg" alt="">
            </figure>
            <figure class="mission-row">
                <figcaption class="mission-row_caption">To increase the tourist flow for the UNESCO world heritage sites and to stimulate their restoration, maintenance and preservation.</figcaption>
                <img class="mission-row_image lazy" data-src="assets/mission/unesco.jpg" src="assets/mission/travel_more.svg" alt="">
            </figure>
            <em class="val uppercase">BEMYWAYS - ENJOY THE WORLD!</em>
        </div>
    </div>
</section>
