<section class="slide with-overlay" id="slide-store">
    <img class="slide-img-bg lazy" src="assets/backgrounds/store-bg.svg" alt="" data-src="assets/backgrounds/store-bg.jpg">
    <div class="container">
        <div class="content">
            <p class="desc">Service recommendation space</p>
            <h2>Recommendation System</h2>
            <p>Meet our recommendation system: it helps you to choose a travel service or an application for your particular trip. 
			BeMyWays combines hundreds of services starting from giants as Booking.com to highly specialized rarities. 
			You’ll find an ideal service provider that suits your specific preferences: say there is a local equivalent of Uber or AirBnB that’s cheaper or has more options. 
			And the core data that fills our system is your reference: it is moderated by user ratings. 
			This mechanism sustains fair competition and as the time goes improves the quality of services and user experience.</p>
        </div>
    </div>
    <div class="blocks">
        <div class="block one fade" data-scroll>
            <img class="lazy" data-src="assets/stores-one.png" src="" alt="">
            <div class="card">
                <p class="title">Where to stay?</p>
                <p class="description">
                    Choose from variety of accommodation options.
                </p>
            </div>
        </div>
        <div class="block two fade" data-scroll>
            <img class="lazy" data-src="assets/stores-two.png" src="" alt="">            
            <div class="card to-right">
                <p class="title">How to get there?</p>
                <p class="description">
                    Find discounts and promotions for tickets, save your money!
                </p>
            </div>
        </div>
        <div class="block three fade" data-scroll>
            <img class="lazy" data-src="assets/stores-three.png" src="" alt="">
            <div class="card">
                <p class="title">What's interesting?</p>
                <p class="description">
                    Discover the best experience generating services!
                </p>
            </div>
        </div>
    </div>
</section>
