<section class="slide with-overlay" id="slide-tabs">
    <img class="slide-img-bg lazy" src="assets/backgrounds/tabs-bg.svg" data-src="assets/backgrounds/tabs-bg.jpg" alt="">
    <div class="container">
        <div class="content">
            <p>BeMyWays believes in video as the best way to get complete and reliable information. You no longer need to read a bunch of text reviews wondering if you could rely on them. BeMyWays focuses on video content and sets a standard for its quality.</p>
			<br/>
			<p>BeMyWays is an approachable platform: You can shoot a video with a smartphone or a camera, set it up to music or just talk. It doesn’t matter if you’re a professional blogger with lots of equipment and experience or a person with a dream and a concept.</p>


            <div class="tabs">
                {% include '../includes/tabs-slider.twig' with {
                    name: 'tabs',
                    items: [{
                        name: 'Hacks',
                        text: 'Experienced travelers will save your time and money with their secrets, making your trip more comfortable and saving your time for you.',
                        image: 'assets/tube/hacks.jpg',
                    },{
                        name: 'Live',
                        text: 'Observe every event on a planet with live broadcasts, feel the roar of crowd, watch them acting, join! You get real experiences and impressions live from your screen.',
                        image: 'assets/tube/live.jpg',
                    },{
                        name: 'Stories',
                        text: 'Extraordinary stories told by extraordinary people from various countries! Get acquainted with all the features of various travel formats, choose yours!',
                        image: 'assets/tube/stories.jpg',
                    },{
                        name: 'Reviews',
                        text: ' All sorts of reviews: a city, a country, a tourist site, a landmark, some cultural specificities, routes, places of residence and much more. Try the easiest and fastest way to prepare for the trip which is fun and educating!',
                        image: 'assets/tube/reviews.jpg',
                    },{
                        name: 'Events',
                        text: 'Announcements, reviews and broadcasts of the most interesting events in the world that may be the purpose of your trip or surprise you as a spectator.',
                        image: 'assets/tube/events.jpg',
                    },{
                        name: 'Guides',
                        text: 'Your video guides to build a travel program anywhere no matter if you\’d stay for a month, a week, a day or for a couple of hours during flight connection.',
                        image: 'assets/tube/guides.jpg',
                    },{
                        name: 'Shows',
                        text: 'Spectacular shows happening to real people in real world. Unique game and live shows where you matter and you just need to form an opinion to be involved.',
                        image: 'assets/tube/shows.jpg',
                    },{
                        name: 'Challenges',
                        text: 'Courageous, courageous travelers filling your space with their Impressive achievements. Follow their progress and follow their endeavors or maybe start your own?',
                        image: 'assets/tube/challenges.jpg',
                    },{
                        name: 'Tips',
                        text: 'Millions of tips for any occasion from every person you can imagine. A huge library of short videos - this is your clue given just in time.',
                        image: 'assets/tube/tips.jpg',
                    },{
                        name: 'Vlogs',
                        text: 'Discover videos from your favorite bloggers, celebrities, and enjoy the thematic collections of places, companies, colours or even discounts.',
                        image: 'assets/tube/vlogs.jpg',
                    }]
                } %}
            </div>
        </div>
    </div>
</section>
