<section class="slide" id="slide-values">
    <img class="slide-img-bg lazy" src="assets/backgrounds/values-bg.svg" alt="" data-src="assets/backgrounds/values-bg.jpg">
    <div class="container">
        <div class="content">
            <h2>Values for users</h2>
            <p><strong>BEMYWAYS</strong> Ecosystem is the generation point of optimal steps and solutions to a perfect
                journey.</p>
            <ul class="we">
                <li>We inspire, erudite and make the dream tangible</li>
                <li>We help to choose the way and share the community experience</li>
                <li>We help to save time and money</li>
                <li>We create value and formats for people to interact</li>
                <li>We create partnerships with users that implies many ways</li>
            </ul>

            <h3>To do so, we combine three products in one service.</h3>
            <p><strong>Travel Tube</strong>, <strong>Travel Store</strong> and <strong>Travel Club</strong>. We use
                blockchain, but we go far beyond the limits of this technology. This is the philosophy of the openness
                and effectiveness of the project for everyone who comes into contact with it. This model is 10 Win.</p>
        </div>
    </div>
</section>
