<section id="slide-apps" class="slide-apps" data-scroll>
    <img id="apps-line" src="assets/apps.png" alt="" class="apps">
    <div id="apps-val" class="val">
        <span>BeMyWays will get you an ultimate useful app or a couple.</span>        
    </div>
    <img id="apps-discount" class="discounts" src="assets/discounts.jpg" alt="">
</section>
