h1, h2 {
  margin-bottom: 0.3em;
  line-height: 1em;
  font-size: 4rem;
  font-weight: bold;
}

.footer {
  padding: 3rem;
  text-align: center;
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 52rem;
}

.content {

}
