<header class="header">
    <img class="logo" src="assets/logo.jpg" alt="">
    <div class="header-links">
        <nav class="navigation">
            <a href="#slide-start">Vision</a>
            <a href="#slide-blockchain">Product</a>
            <a href="#slide-club">Economy of Participation</a>
            <a href="#slide-blockchain2">Blockchain</a>
            <a href="#slide-mission">Mission</a>
        </nav>
        <div class="languages">
            <a href="" class="lang lang-ru"></a>
            <a href="" class="lang lang-uk"></a>
            <a href="" class="lang lang-ch"></a>
        </div>
    </div>
</header>
