<header class="header">
    <img class="logo" src="assets/logo.jpg" alt="">
    <div class="header-links">
        <nav class="navigation">
            <a href="#slide-goal">Our Goal</a>
            <a href="#slide-values">Values for users</a>
            <a href="#slide-tube">Travel Tube</a>
            <a href="#slide-store">Travel Store</a>
            <a href="#slide-club">Travel Club</a>
        </nav>
        <div class="languages">
            <a href="" class="lang lang-ru"></a>
            <a href="" class="lang lang-uk"></a>
            <a href="" class="lang lang-ch"></a>
        </div>
    </div>
</header>
