<meta charset="UTF-8">
<meta name="viewport" content="width=1024">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>
<meta content="955357184504374" property="fb:app_id">
<meta content="website" property="og:type">
<meta content="The main entry point for planning, choosing and plunging directly into the world of travel."
      name="description">
<meta content="BE MY WAYS" property="og:site_name">
<meta content="BE MY WAYS" property="og:title">
<meta content="The main entry point for planning, choosing and plunging directly into the world of travel."
      property="og:description">
{% include "../includes/styles.twig" %}
