<div class="stars">
    <!-- внимание! обратный порядок -->
    <input type="radio" id="stars-slide-5" name="stars-group">
    <label for="stars-slide-5" class="stars_star"></label>
    <span class="stars_title">Amet</span>
    <p class="stars_description">Lorem ipsum dolor sit amet.5</p>

    <input type="radio" id="stars-slide-4" name="stars-group">
    <label for="stars-slide-4" class="stars_star"></label>
    <span class="stars_title">Sit</span>
    <p class="stars_description">Lorem ipsum dolor sit amet.4</p>

    <input type="radio" id="stars-slide-3" name="stars-group">
    <label for="stars-slide-3" class="stars_star"></label>
    <span class="stars_title">Dolor</span>
    <p class="stars_description">Lorem ipsum dolor sit amet.3</p>

    <input type="radio" id="stars-slide-2" name="stars-group">
    <label for="stars-slide-2" class="stars_star"></label>
    <span class="stars_title">Ipsum</span>
    <p class="stars_description">Lorem ipsum dolor sit amet.2</p>

    <input type="radio" id="stars-slide-1" name="stars-group" checked>
    <label for="stars-slide-1" class="stars_star"></label>
    <span class="stars_title">Lorem</span>
    <p class="stars_description">Lorem ipsum dolor sit amet.1</p>
</div>
