<div id="main-stars" class="stars">
    <!-- внимание! обратный порядок -->
    <input type="radio" id="stars-slide-5" name="stars-group">
    <label for="stars-slide-5" class="stars_star"></label>
    <span class="stars_title">Opportunities</span>
    <p class="stars_description">People discover themselves when traveling, they do gain a taste for life and they do rejuvenate - they gain freedom. BeMyWays gives every person a chance to become a partner of the platform, to be a part of it. Get involved with travel – take your part in the economy of the future.</p>

    <input type="radio" id="stars-slide-4" name="stars-group">
    <label for="stars-slide-4" class="stars_star"></label>
    <span class="stars_title">Participation</span>
    <p class="stars_description">1.5 billion people around the world travel abroad. We’re confident their experiences are useful to others. The time has come to start a public club. Share your findings, impressions, interests, do it your way and it just may become your calling.</p>

    <input type="radio" id="stars-slide-3" name="stars-group">
    <label for="stars-slide-3" class="stars_star"></label>
    <span class="stars_title">Space</span>
    <p class="stars_description">Unleash the discoverer's curiosity. Travel every day. Keep track of someone else’s travel as it goes, watch vlogs and travel stories, learn, experience live broadcasts, become a sophisticated traveler!</p>

    <input type="radio" id="stars-slide-2" name="stars-group">
    <label for="stars-slide-2" class="stars_star"></label>
    <span class="stars_title">Way</span>
    <p class="stars_description">Have fun planning a trip! Now you don’t need to explore dozens of sites and hundreds of reviews: just see it with your own eyes – we’ve created the largest and the most up to date database of video reviews, recommendations, tips and life hacks.</p>

    <input type="radio" id="stars-slide-1" name="stars-group" checked>
    <label for="stars-slide-1" class="stars_star"></label>
    <span class="stars_title">Inspiration</span>
    <p class="stars_description">Watch the most beautiful videos from every corner of the planet. Inspire, dream, come up with ideas for your future trip.</p>
</div>
